
.server{
   display:block;
   background-color: rgb(230, 250, 143);
   padding-left: 20px;
   padding-top: 40px;
   padding-bottom: 40px;
   
}

.list-item{
    list-style: none;
    width: 40%;
    border-radius: 5%;
    border: solid black 1px;
}

.online{
    background-color: rgb(185, 245, 217);
    padding: 10px;
    
}

.ofline{
    background-color: rgb(247, 181, 232);
    padding: 10px;
}

.badge{
    background-color: rgb(143, 135, 126);
    float: right;
    padding: 6px;
    color: rgb(233, 243, 240);
    border-radius: 30%;
}