

<div class="row">
    <div class="col-md-4">
        <div class="card card-body">
            <div class="custom">
                <a routerLink="/home/directives">Directives</a>
            </div>
            <p>Click to know more about Directives!</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-body">
            <div class="custom">
                <a routerLink="/home/pipes">Pipes</a>
            </div>
            <p>Click to know more about Pipes!</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-body">
            <div class="custom">
                <a routerLink="/home/routes">Routes</a>
            </div>
            <p>Click to know more about Routes!</p>
        </div>
    </div>
</div>

<div>
    <div><router-outlet></router-outlet></div>
</div>

